<h2 mat-dialog-title>Create new Category</h2>
<form>
  <mat-dialog-content>
    <div class="explanation">Give your new Todo Category a name. This category will appear the next time you create an entry.</div>
    <mat-form-field class="full-width">
      <input matInput name="text" placeholder="Category Name" [(ngModel)]="name">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <span class="space"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="name" [disabled]="!name" type="submit">Create</button>
  </mat-dialog-actions>
</form>
