@import '../../../assets/styles/variables';
@import '../../../assets/styles/dialogs';

.header {
  font: 14pt $font_face_highlight;
  color: $color_subtitle;
  display: grid;
  grid-template-columns: max-content 1fr;
  padding-top: 0.2em;

  .name {
    grid-column: 1;
  }

  .border {
    grid-column: 2;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    margin-left: -10px;
    margin-right: 10px;
    border-bottom: 1px solid rgba($color_subtitle, 0.5);
  }

  .todo_count {
    grid-column: 1;
    margin-left: 20px;

    visibility: hidden;
  }

  .button {
    grid-column: 2;
    cursor: pointer;
    align-self: center;
    justify-self: end;

    mat-icon {
      animation: flipDown 0.2s;
    }
  }

  &.is-collapsed {
    .button {
      mat-icon {
        animation: flipUp forwards 0.2s;
      }
    }

    .todo_count {
      visibility: visible;
      animation: bounceIn 0.2s;
    }
  }
}

@keyframes flipUp {
  0% {
    transform: rotateX(0deg)
  }
  100% {
    transform: rotateX(180deg)
  }
}

@keyframes flipDown {
  0% {
    transform: rotateX(180deg)
  }
  100% {
    transform: rotateX(0deg)
  }
}
