<div class="diary-entry">
  <div class="container">
    <ta-entry-headline [title]='"ToDos"'></ta-entry-headline>
    <div class="diary-entry-content todos">
      <!--todo create todo component and use ngFor here, enable to delete and check todos-->
      <!--todo create a create new todo button-->
      {{entry.todos}}
    </div>

    <ta-entry-headline [title]='"Notes"'></ta-entry-headline>
    <div class="diary-entry-content notes">
      {{entry.notes}}
    </div>
  </div>
  <!--todo show time too-->
  <span class="timestamp">{{entry.meta.timestamp | date:'short'}}</span>
</div>
