@import '../../variables';
@import '../../animations';

.diary-entry-container {
  display: grid;
  grid-template-columns: 1fr 70px;

  &:hover {
    .diary-entry-buttons {
      animation: shiftIn 0.2s forwards 0.5s;
    }
  }
}

.diary-entry {
  background-color: white;

  padding: 1em;
  margin-bottom: 2em;
  border-radius: $border_radius;

  grid-column: 1;
  display: grid;
  grid-template-rows: 1fr 50px;

  .timestamp {
    grid-row: 2;
    justify-self: end;
    align-self: end;

    color: $color_info;
    font-family: $font_face_highlight;
  }
}

.diary-entry .container {
  grid-row: 1;
}

.diary-entry-content {
  padding: 1em;
}

.diary-entry-buttons {
  grid-column: 2;
  padding-left: 1em;

  color: $color_headlines;

  visibility: hidden;
}
