<div class="diary-entry">
  <div class="container">
    <ta-entry-headline [title]='"ToDos"'></ta-entry-headline>
    <div class="diary-entry-content todos" *ngFor="let todo of entry.todos">
      <!--<ta-todo-entry-readmode [todo]="todo"></ta-todo-entry-readmode>-->
    </div>

    <ta-entry-headline [title]='"Notes"'></ta-entry-headline>
    <div class="diary-entry-content notes">
      {{entry.notes}}
    </div>
  </div>
  <span class="timestamp">{{entry.meta.timestamp | date:'short'}}</span>
</div>
