@import '../../variables';

.diary-entry {
  background-color: white;

  padding: 1em;
  margin-bottom: 2em;
  border-radius: $border_radius;

  display: grid;
  grid-template-rows: 1fr 50px;

  .timestamp {
    grid-row: 2;
    justify-self: end;
    align-self: end;

    color: $color_info;
    font-family: $font_face_highlight;
  }
}

.diary-entry .container {
  grid-row: 1;
}

.diary-entry-content {
  padding: 1em;
}
