@import '../../variables';

.diary-header {
  border-radius: $border_radius;
  margin-bottom: 0.5em;

  background-color: $color_background;
}

.space {
  flex: 1 1 auto;
}
.toolbar-button {
  &:hover {
    cursor: pointer;
  }
}

