<div class="diary-header">
  <span>Todoary</span>
  <div class="toolbar-buttons">
    <ta-export-button class="icon-button"></ta-export-button>
    <mat-icon (click)="showCreateEntry()" class="icon-button">add</mat-icon>
  </div>
</div>

<ta-create-entry *ngIf="showCreateNewEntry" (onSubmit)="addEntry($event)" (onCancel)="destroyCreateEntry()" class="create-entry"></ta-create-entry>

<div class="diary">
  <div class="entries" *ngFor="let entry of entries">
    <ta-diary-entry [entry]="entry" class="diary-entry"></ta-diary-entry>
  </div>
</div>


