<div class="diary-header">
  <span class="title">Todoary</span>
  <div class="toolbar-buttons">
    <ta-export-button class="icon-button"></ta-export-button>
    <ta-manage-categories-button class="icon-button"></ta-manage-categories-button>
    <ta-new-category-button class="icon-button"></ta-new-category-button>
    <span class="gap"></span>
    <mat-icon (click)="showCreateEntry()" matTooltip="New Entry" class="icon-button create">add</mat-icon>
  </div>
</div>

<ta-create-entry *ngIf="showCreateNewEntry" (onSubmit)="addEntry($event)" (onCancel)="destroyCreateEntry()" class="create-entry"></ta-create-entry>

<div class="diary">
  <div class="entries" *ngFor="let entry of entries">
    <ta-diary-entry [entry]="entry" (onDelete)="getEntries()" class="diary-entry"></ta-diary-entry>
  </div>
</div>
<div class="footer">
  <a href="../../assets/impressum.html">Impressum & Datenschutz</a>
  <span class="version">v{{version}}</span>
</div>


