@import '../../variables';

.diary-header {
  margin-bottom: 0.5em;
  padding: 1em;

  display: grid;
  grid-template-columns: 4fr 1fr;

  .toolbar-buttons {
    grid-column: 2;
    justify-self: end;

    .button {
      margin-left: 1em;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .title {
    grid-column: 1;
  }
}

