@import '../../variables';
@import '../../animations';

.diary-header {
  margin-bottom: 0.5em;
  padding: 1em;

  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-right: 70px;

  .toolbar-buttons {
    grid-column: 2;
    justify-self: end;
    align-self: center;

    .icon-button {
      margin-left: 1em;
    }
  }

  .title {
    grid-column: 1;
    color: $color_headlines;
    font: 20pt $font_face_highlight;
  }
}

.footer {
  color: $color_headlines;
  font-size: 10pt;
  a {
    color: $color_headlines;
    text-decoration: none;
    padding-right: 2em;
  }
}
