@import '../todos/todo-entry';

.todo_entry {

  .todo_buttons {
    grid-column: 3;
    justify-self: end;

    visibility: hidden;
  }

  &:hover {
    .todo_buttons {
      visibility: visible;
      .icon-button {
        animation: bounceIn 0.07s;
      }
    }
  }
}

.deleted_indicator {
  min-height: 16px;

  .undo_deleted {
    display: none;
  }

  &:hover {
    .deleted {
      display:none;
    }

    .undo_deleted {
      display: inherit;
      animation: rotateIn 0.15s linear;
    }
  }
}

.open_indicator {
  min-height: 16px;
}

.icon-button {
  &:hover {
    cursor: pointer;
  }
}

.indicator {
  .done {
    animation: bounceIn 0.2s;
  }

  .open {
    animation: bounceIn 0.2s;
  }
}

.hidden {
  visibility: hidden;
}

@keyframes rotateIn {
  0% {
    transform: rotate(100deg) scale(0.6,0.6)
  }
  100% {
    transform: rotate(0deg) scale(1,1)
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.6,0.6)
  }
  70% {
    transform: scale(1.2, 1.2)
  }
  100% {
    transform: scale(1,1)
  }
}
