<div class="todo_entry">
  <div class="open_indicator indicator" (click)="switchDoneAndOpenStatus()" *ngIf="!isDeletedTodo()">
    <mat-icon class="icon-button open" *ngIf="isOpenTodo()">check_box_outline_blank</mat-icon>
    <mat-icon class="icon-button done" *ngIf="isDoneTodo()">check</mat-icon>
  </div>
  <div class="deleted_indicator indicator" *ngIf="isDeletedTodo()" (click)="undoDelete()">
    <mat-icon class="icon-button deleted">delete</mat-icon>
    <mat-icon class="icon-button undo_deleted">replay</mat-icon>
  </div>
  <span class="text" [ngClass]="{'deleted-todo' : isDeletedTodo()}">{{todo.text}}</span>
  <div class="todo_buttons">
    <!-- todo edit button-->
    <mat-icon class="icon-button" [ngClass]="{'hidden': isDeletedTodo()}" (click)="setDeleted()">delete</mat-icon>
  </div>
</div>
