@import '../todos/todo-entry';
@import '../../variables';

.added {
  color: $color_indicator_new;
}
.category {
  color: $color_info;
  font-size: 10pt;

  justify-self: end;
  align-self: center;
  padding-right: 2em;
}
