@import '../todos/todo-entry';
@import '../../../assets/styles/variables';

.added {
  color: $color_indicator_new;
}

.moved {
  color: $color_indicator_moved;
}

.category {
  color: $color_info;
  font-size: 10pt;

  justify-self: end;
  align-self: center;
  padding-right: 2em;
}
