@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'variables.scss';

body {
  background-color: $color_background;
  font: 500 16px Roboto,"Helvetica Neue",sans-serif
}

.hint {
  color: $color_info;
  font-style: italic;
}

.icon-button {
  &:hover {
    cursor: pointer;
  }
}
