@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'variables.scss';

body {
  background: url("/assets/bgsm.jpg") no-repeat center center fixed $color_background;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: 500 16px Roboto,"Helvetica Neue",sans-serif
}

.hint {
  color: $color_info;
  font-style: italic;
}

.icon-button {
  &:hover {
    cursor: pointer;
  }
}
