@keyframes rotateIn {
  0% {
    transform: rotate(100deg) scale(0.6, 0.6)
  }
  100% {
    transform: rotate(0deg) scale(1, 1)
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.6, 0.6)
  }
  70% {
    transform: scale(1.2, 1.2)
  }
  100% {
    transform: scale(1, 1)
  }
}

@keyframes shiftIn {
  0% {
    transform: translate(10px);
    visibility: hidden;
  }
  100% {
    transform: translate(0px);
    visibility: visible;
  }
}
