$border_radius: 0.8em;

$font_face_highlight: 'Alegreya', serif;

$font_size_heading: 24px;

$color_headlines: #9d9d9d;
$color_subtitle: #93bff7;
$color_info: #cacaca;
$color_icons: #5b75a7;

$color_indicator_new: $color_subtitle;
$color_indicator_moved: $color_headlines;

$color_background: #dce2ec;
