<div class="createEntry">
  <form name="createEntryForm">
    <div class="header">
      Create a new Entry
      <mat-icon class="cancel-button">clear</mat-icon>
    </div>

    <div class="content">
      <ta-entry-headline [title]='"ToDos"'></ta-entry-headline>
      <div class="todos">
        <div class="entries" *ngFor="let todo of todos">
          [{{todo.status}}] - {{todo.text}} <!--todo create todo component,  enable to delete and check todo -->
        </div>
        <!-- todo make it possible to add todos -->
      </div>

      <ta-entry-headline [title]='"Notes"'></ta-entry-headline>
      <mat-form-field class="full-width notes">
        <textarea matInput name="notes" [(ngModel)]="newEntry.notes" #notes cols="5"></textarea>
        <mat-hint align="end">{{notes.value.length}}</mat-hint>
      </mat-form-field>
    </div>
    <button class="submit-button" color="primary" (click)="submit()" aria-label="Submit" mat-mini-fab>
      <mat-icon>check</mat-icon>
    </button>
  </form>
</div>


