<div class="createEntry">


  <form name="createEntryForm">
    <div class="header">
      Create a new Entry
      <mat-icon class="cancel-button">clear</mat-icon>
    </div>

    <div class="content">
      <div class="entry-header">ToDo's <span class="border"></span></div>
      <div class="diary-entry-content todos">
        <!--todo create todo component and use ngFor here, enable to delete and check todos-->
        <div class="entries" *ngFor="let todo of todos">
          [{{todo.status}}] - {{todo.text}}
        </div>
      </div>

      <div class="entry-header">Notes <span class="border"></span></div>
      <mat-form-field class="full-width">
        <textarea matInput #notes cols="5"></textarea>
        <mat-hint align="end">{{notes.value.length}}</mat-hint>
      </mat-form-field>
    </div>
    <button class="submit-button" color="primary" (click)="submit()" aria-label="Submit" mat-mini-fab>
      <mat-icon>check</mat-icon>
    </button>
  </form>
</div>


