@import '../../variables';

.full-width {
  width: 100%;
}

.createEntry {
  background-color: white;

  padding: 1em;
  margin-bottom: 2em;
  border-radius: $border_radius;
}

.createEntry form {

  display: grid;
  grid-template-rows: 50px 1fr 50px;

  .header {
    grid-row: 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    font: $font_size_heading $font_face_highlight;
    color: $color_headlines;

    .cancel-button {
      grid-column: 2;
      justify-self: end;
      align-self: start;
    }
  }

  .entry-header {
    font: $font_size_heading $font_face_highlight;
    color: $color_headlines;
    padding-top: 0.5em;

    .border {
      display: flex;
      margin-left: 50px;
      margin-right: 10px;
      border-bottom: 1px solid rgba($color_headlines, 0.5);
    }
  }


  .submit-button {
    grid-row: 3;
    justify-self: end;
    align-self: end;
  }

  .content {
    grid-row: 2;
  }
}
